stages:
  - prepare
  - gateware
  - software

default:
  tags:
    - xilinx

variables:
  XILINX_VIVADO: /non-free/Xilinx/Vivado_and_Vitis/2020.2.2/Vivado/2020.2
  XILINX_VITIS: /non-free/Xilinx/Vivado_and_Vitis/2020.2.2/Vitis/2020.2
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_DRIVER: overlay2
  GIT_SUBMODULE_STRATEGY: normal
  FF_SCRIPT_SECTIONS: "true"

# Gateware jobs
# Gitlab doesn't seem to suport the usage of variables in
# a "dependencies" or "needs" statement. So, unroll the job
# description, as to simplify job descriptions
gw_devg_marble:
  before_script:
    - cd gateware/syn/devg_${VARIANT_MOD}marble && ls /non-free
  stage: gateware
  script: |
    make EVIO_TYPE=${EVIO_TYPE} clean && \
      PATH=$XILINX_VIVADO/bin:$PATH make EVIO_TYPE=${EVIO_TYPE} devg_${VARIANT_MOD}marble_top.bit && \
      PATH=$XILINX_VIVADO/bin:$PATH make EVIO_TYPE=${EVIO_TYPE} devg_${VARIANT_MOD}marble_top.mmi
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
    expire_in: 4 weeks
    paths:
      - gateware/syn/devg_${VARIANT_MOD}marble/devg_${VARIANT_MOD}marble_top.bit
      - gateware/syn/devg_${VARIANT_MOD}marble/devg_${VARIANT_MOD}marble_top.mmi
      - gateware/syn/devg_${VARIANT_MOD}marble/_xilinx/devg_${VARIANT_MOD}marble_top/*.runs/impl_1/*.rpt
      - gateware/syn/devg_${VARIANT_MOD}marble/bd.xsa
  rules:
    - if: $VARIANT != ""
      variables:
        VARIANT_MOD: "${VARIANT}_"
    - if: ($VARIANT == null) || ($VARIANT == "")
      variables:
        VARIANT_MOD: ""
  parallel:
    matrix:
      - EVIO_TYPE: ["evio", "evio_trig_nibble_reversed"]
        VARIANT: ""
      - EVIO_TYPE: "evio"
        VARIANT: ["test", "test_internal_pps"]

# Software jobs
# Gitlab doesn't seem to suport the usage of variables in
# a "dependencies" or "needs" statement. So, unroll the job
# description...
sw_devg_marble:
  before_script:
    - cd software/app/devg
  stage: software
  script:
    - make TARGET=devg_marble clean && PATH=$XILINX_VITIS/bin:$XILINX_VITIS/gnu/microblaze/lin/bin:$PATH make TARGET=devg_marble
  # Get artifacts from this job, needed to compile the sofware
  needs:
    - job: gw_devg_marble
      parallel:
        matrix:
          - EVIO_TYPE: "evio"
            VARIANT: ""
      artifacts: true
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
    expire_in: 4 weeks
    paths:
      - software/app/devg/proc_0/devg_marble_proc_0.elf
      - software/app/devg/proc_1/devg_marble_proc_1.elf
      - software/app/devg/proc_0/devg_marble_proc_0.elf.size
      - software/app/devg/proc_1/devg_marble_proc_1.elf.size
      - software/app/devg/devg_marble*.bit

sw_devg_marble_evio_reversed:
  before_script:
    - cd software/app/devg
  stage: software
  script:
    - make TARGET=devg_marble clean && PATH=$XILINX_VITIS/bin:$XILINX_VITIS/gnu/microblaze/lin/bin:$PATH make TARGET=devg_marble
  # Get artifacts from this job, needed to compile the sofware
  needs:
    - job: gw_devg_marble
      parallel:
        matrix:
          - EVIO_TYPE: "evio_trig_nibble_reversed"
            VARIANT: ""
      artifacts: true
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
    expire_in: 4 weeks
    paths:
      - software/app/devg/proc_0/devg_marble_proc_0.elf
      - software/app/devg/proc_1/devg_marble_proc_1.elf
      - software/app/devg/proc_0/devg_marble_proc_0.elf.size
      - software/app/devg/proc_1/devg_marble_proc_1.elf.size
      - software/app/devg/devg_marble*.bit

sw_devg_test_marble:
  before_script:
    - cd software/app/devg_test
  stage: software
  script:
    - make TARGET=devg_test_marble clean && PATH=$XILINX_VITIS/bin:$XILINX_VITIS/gnu/microblaze/lin/bin:$PATH make TARGET=devg_test_marble
  # Get artifacts from this job, needed to compile the sofware
  needs:
    - job: gw_devg_marble
      parallel:
        matrix:
          - EVIO_TYPE: "evio"
            VARIANT: "test"
      artifacts: true
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
    expire_in: 4 weeks
    paths:
      - software/app/devg_test/proc_0/devg_test_marble_proc_0.elf
      - software/app/devg_test/proc_1/devg_test_marble_proc_1.elf
      - software/app/devg_test/proc_0/devg_test_marble_proc_0.elf.size
      - software/app/devg_test/proc_1/devg_test_marble_proc_1.elf.size
      - software/app/devg_test/devg_test_marble*.bit

sw_devg_test_internal_pps_marble:
  before_script:
    - cd software/app/devg_test
  stage: software
  script:
    - make TARGET=devg_test_internal_pps_marble clean && PATH=$XILINX_VITIS/bin:$XILINX_VITIS/gnu/microblaze/lin/bin:$PATH make TARGET=devg_test_internal_pps_marble
  # Get artifacts from this job, needed to compile the sofware
  needs:
    - job: gw_devg_marble
      parallel:
        matrix:
          - EVIO_TYPE: "evio"
            VARIANT: "test_internal_pps"
      artifacts: true
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
    expire_in: 4 weeks
    paths:
      - software/app/devg_test/proc_0/devg_test_internal_pps_marble_proc_0.elf
      - software/app/devg_test/proc_1/devg_test_internal_pps_marble_proc_1.elf
      - software/app/devg_test/proc_0/devg_test_internal_pps_marble_proc_0.elf.size
      - software/app/devg_test/proc_1/devg_test_internal_pps_marble_proc_1.elf.size
      - software/app/devg_test/devg_test_internal_pps_marble*.bit
